@{
    ViewData["Title"] = "Registration Successful";
}
<div>
        <h2>Success!  You have registered and are now logged in, welcome to [Site Name]!</h2>
</div>
<div class="jumbotron">
    <h1>Pace Buddy</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pace Matcher</h2>
        <p>
            Help you find someone to run with!
        </p>
    </div>
</div>
